#hero-banner {
  display: flex;
  padding: 90px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 130px 0px 130px 0px;
  height: auto;
}

.hero-content {
  max-width: 500px;
}


.hero-content h1 {
  font-size: 48px;
  color: white;

}

.hero-content p {
  margin: 14px 0;
  color: white;
}

.hero-content .btn-container {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  #hero-banner {
    flex-direction: column-reverse;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content .btn-container {
    flex-direction: column;
  }
}