/* 
-- Responsive Breakpoints
sm: 640px - mobile phone size
md: 768px - Tablet size
lg: 1024px - Laptop standard size
xl: 1280px -- larger wide desktop size
*/

/* Reusable Design */
@import "button.css";
@import "card.css";
@import 'watch.css';
@import 'hr.css';
/* Section Design */
@import "navbar.css";
@import "hero-banner.css";
@import "service.css";
@import "contact.css";
@import "thank-you.css";
@import "footer.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #1a1a1a, #2d1f0f);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}